<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ITIM Custom Reports Tool</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring.xml
		</param-value>
	</context-param>
  <servlet>
    <description></description>
    <display-name>OracleRetailReportsServlet</display-name>
    <servlet-name>OracleRetailReportsServlet</servlet-name>
    <servlet-class>br.com.companhiadesistemas.itimcustomreports.OracleRetailReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleRetailReportsServlet</servlet-name>
    <url-pattern>/OracleRetailReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportXerox</display-name>
    <servlet-name>ReportXerox</servlet-name>
    <servlet-class>br.com.companhiadesistemas.itimcustomreports.ReportXeroxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportXerox</servlet-name>
    <url-pattern>/ReportXerox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportSI</display-name>
    <servlet-name>ReportSI</servlet-name>
    <servlet-class>br.com.companhiadesistemas.itimcustomreports.ReportSIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportSI</servlet-name>
    <url-pattern>/ReportSI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportTelefonia</display-name>
    <servlet-name>ReportTelefonia</servlet-name>
    <servlet-class>br.com.companhiadesistemas.itimcustomreports.ReportTelefoniaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportTelefonia</servlet-name>
    <url-pattern>/ReportTelefonia</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>br.com.companhiadesistemas.itimcustomreports.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
</web-app>